{% extends 'base.html' %}
{% include 'navbar.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="login-container flex items-center justify-center h-screen bg-gray-700">
  <div class="login-box bg-white p-10 rounded-lg shadow-md max-w-md w-full">
    <h1 class="getsupply-logo text-center text-4xl mb-10 font-bold text-gray-900">GetSupply</h1>
    <h2 class="login-info text-left text-1l mb-1 font-bold text-red-600">Log In To Your Account</h2>
    
    <form class="space-y-6" method="POST" action="">
      {% csrf_token %}
      <div class="rounded-md shadow-sm">
        <div>
          <input id="username" name="username" type="text" required 
                 class="appearance-none rounded-t-md w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" 
                 placeholder="Username">
        </div>
        <div>
          <input id="password" name="password" type="password" required 
                 class="appearance-none rounded-b-md w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" 
                 placeholder="Password">
        </div>
      </div>

      <div>
        <button type="submit" 
                class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Log In
        </button>
      </div>
    </form>

    {% if messages %}
    <div class="mt-4">
      {% for message in messages %}
      {% if message.tags == "success" %}
            <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">{{ message }}</span>
            </div>
        {% elif message.tags == "error" %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">{{ message }}</span>
            </div>
        {% else %}
            <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">{{ message }}</span>
            </div>
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}

    <div class="text-center mt-4">
      <p class="text-sm text-gray-500">
        Don't have an account?
        <a href="{% url 'main:register' %}" class="font-medium text-blue-500 hover:underline">
          Sign up
        </a>
      </p>
    </div>
  </div>
</div>

<style>
  .login-container {
      background-color: #fafafa;
      padding: 40px;
  }

  .login-box {
    border: 1px solid #dbdbdb;
    padding: 50px; /* Adjust padding if necessary */
    max-width: 700px; /* Increase this value to make it wider */
    width: 100%; /* Make it responsive */
    margin-top: 0;
  }

  .login-info {
    font-size: 15px;
  }

  .getsupply-logo {
      {% comment %} font-family: 'Comic Sans MS', cursive; {% endcomment %}
      font-size: 50px;
  }

  .rounded-md input {
      background-color: #fafafa;
      border-color: #dbdbdb;
  }

  .rounded-md input:focus {
      border-color: #a8a8a8;
  }

  .bg-blue-500 {
      background-color: #0095f6;
  }

  .bg-blue-500:hover {
      background-color: #007ac6;
  }

  .text-gray-500 {
      color: #8e8e8e;
  }

  h2 {
    margin-bottom: 10px;
  }
</style>

{% endblock content %}
