{% extends 'base.html' %}
{% block content %}
<h1>Welcome to GetSupply, {{ user_name }}</h1>
<h5> By: Rafif Sulaiman Dirvesa/PBP C/2306222771</h5>

<p>Name: {{ name }}</p>
<p>Price: {{ price }}</p>
<p>Description: {{ description }}</p>
<img src="{{ image }}">

{% if not product_entries %}
<p>Belum ada data produk tambahan pada GetSupply.</p>
{% else %}
<table>
  <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>Description</th>
  </tr>

  {% for product_entry in product_entries %}
  <tr>
    <td>{{product_entry.name}}</td>
    <td>{{product_entry.price}}</td>
    <td>{{product_entry.description}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_supply' %}">
  <button>Add New product</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<h5> Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}